<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="right: 0px; top: 250px; line-height: 32px;">
    <h10>SHARE</h10>
    <a class="a2a_button_facebook" href="https://www.facebook.com/aliment" title="Facebook" target="_blank" rel="nofollow noopener"></a>     
    <a class="a2a_button_twitter" href="http://twitter.com/aliment" title="Twitter" target="_blank" rel="nofollow noopener"></a>     
    <a class="a2a_button_pinterest" href="http://www.pinterest.com/aliment" title="Pinterest" target="_blank" rel="nofollow noopener"></a>     
    <a class="a2a_dd" href="https://www.addtoany.com/share#url=https%3A%2F%2Fwww.floreti.com%2F&amp;title=Restaurants%20NYC%20Explore%20Travel%2C%20Food%2C%20Tourist%2C%20Visit%20NewYork"></a> 
    
</div>

<script async src="https://static.addtoany.com/menu/page.js"></script>