<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="text-center">
      <a href="/">Homepage</a>
      <a href="/restaurants">All Restaurants</a>
      <a href="/restaurants/new">New Restaurants</a>
      <a href="/users/new">Make an Account</a>
    </div>
    <h1>Hi, User</h1>
    <h2>Did eat someplace new?</h2>
    <a href="/restaurants/new"><button>Add New Restaurant</button></a>
    <button>Delete Account</button>
    <h2>Your Reviews?</h2>
  </body>
</html>
