@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


.card {
  flex-direction: row;
  margin: 15px auto;
}
.card img {
  width: 30%;
}

.miniheader {
  background-color: rgb(133, 133, 133);
  height: 100px;
  color: white;
}

.restaurant-image {
  width: 1200px;
  height: 700px;
}

.homepage-image {
  width: 1275px;
  height: 700px;
}

.profile-image {
  width: 500px;
  height: 300px;
}

/*
font-family: 'Poiret One', cursive;
font-family: 'Prata', serif;

*/